body {
  height: 100vh;
  margin: 0 !important;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  background: #16a9c9;
}

/*@media (min-width: 1326px) {
  body {
    background: linear-gradient(to bottom , #ff0000 50%, #16a9c9 50%);
  }
}*/
