body {
  height: 100vh;
  margin: 0 !important;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  //background: #2a2a2a;
  background: repeating-linear-gradient(45deg, #2a2a2a, #2a2a2a 30px, #ffdb00 30px, #ffdb00 60px);
}


/*@media (min-width: 1326px) {
  body {
    background: linear-gradient(to bottom , #ff0000 50%, #16a9c9 50%);
  }
}*/

@media (max-width: 991px) {
  body {
    background: repeating-linear-gradient(45deg, #2a2a2a, #2a2a2a 20px, #ffdb00 20px, #ffdb00 40px);
  }
}


@media (min-width: 992px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


